@media print {
  footer {
    page-break-after: always;
  }
}

#pdf-container {
  width: 16.1cm;
  height: 22.5cm;
  overflow: scroll;
  left: 0;
  right: 0;
  margin: auto;
}

.pdf-content {
  width: 15.7cm;
  height: 22.1cm;
  background-color: white;
  position: relative;
  padding: 5px;
  font-family: Verdana, sans-serif;
  font-size: 5px;
  line-height: 225%;
  word-spacing: -2px;
}

hr {
  margin-top: 0;
  margin-bottom: 0;

}

p {
  margin: 0;
}

.main-color{
  background-color: #f8af51;
}

a {
  color: black;
}

.bandeau {
  width: 95%;
  float: right;
}

.logo {
  width: 25%;
  position: absolute;
  top: 70px;
  left: 15px;
  transform: translateY(-50%);
}

.taxons {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

div.header {
  display: block;
}

div.titre {
  display: inline-block;
  width: 100%;
  text-align: center;
}

.label-titre {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 0px;
}

.label-closing-date {
  font-size: 12px;
}

.ligne {
  border: none;
}

.ligne-titre {
  margin: 0 auto;
  width: 50%;
  height: 3px;
  margin-top: 2px
}

.ligne-ca-initial {
  width: 90%;
  height: 5px;
  margin-left: 10px;
}

.etiquettes {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
}

.etiquette {
  width: 175px;
  height: 60px;
  border: 0.75px solid grey;
  border-radius: 17px;
  margin: 0 min(1px) 0 auto;
}

.etiquette:last-of-type {
  margin: 0 auto;
}

.etiquette-haut {
  display: flex;
  justify-content: space-between;
  height: 52%;
  margin: 6px 12px 0;
}

.etiquette-bas {
  text-align: center;
  margin: 0 6px 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.logo-etiquette {
  width: 38px;
  height: 38px;
  margin-top: 3px;
  margin-right: 3px;
}

.titre-etiquette {
  font-weight: bold;
  font-size: 10px;
  text-align: right;
  margin: 0;
}

.stat-etiquette {
  font-weight: bold;
  font-size: 16px;
  margin: 0;
}

.description {
  display: flex;
  margin: 5px 10px 3px 10px;
  vertical-align: middle;
}

.fiche-descriptive,
.titre-section {
  text-align: center;
  margin: 5px auto 10px;
  font-size: 11px;
  font-weight: bold;
}

.fiche-descriptive table {
  font-size: 10px;
}

.ca-initial {
  text-align: center;
  margin: 3px auto 5px;
  font-size: 10px;
  font-weight: bold;
}

.right-block {
  width:52%;
  margin-left: 15px;
}

.repartition-img {
  width: 100%;
}

.ca {
  height: 20%;
}

.left-block {
  padding-left: 15px;
  font-size: 11px;
  width: 48%;
  border: 0.75px solid grey;
  border-radius: 25px;
}

.information {
  margin-bottom: 5px;
}

.info-titre {
  font-weight: bold;
  margin: 0 0 2px;
}

.info-contenu {
  margin: 0 20px 0;
}

.ca-initial-details {
  display: flex;
  margin: 15px 0 0 25px;
}

.logo-ca-initial {
  height: 30px;
  width: 30px;
}

.ca-initial-info {
  font-size: 10px;
  margin: 2px 0 0 10px;
}

.information {
  margin-bottom: 10px;
}

.jdd-details {
  display: flex;
  margin: 7px 0 0 15px;
}


.footer {
  width: 98%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  left: 1%;
  bottom: 3px;
  font-size: 8px;
}

#footer-date {
  float: left;
}

#footer-url {
  float: right;
}

.logo-jdd {
  height: 30px;
  width: 30px;
}

.import-block {
  font-size:10px
}

.jdd-info {
  font-size: 10px;
  margin: 2px 0 0 10px;
}

/* DEFAUT */

/* FIN DEFAUT */


/* FIN SINP */


/* DEPOBIO */
/* #ligne-titre-depobio,
#ligne-ca-initial-depobio {
  background-color: #07A9E7;
}

#nombre-taxons-depobio {
  background-color: #DDF5FE;
}

#nombre-donnees-depobio {
  background-color: #63D4C1;
} */
/* FIN DEPOBIO */
